{% extends 'base.html' %}
{% block content %}

<body style="background-image: url('static/css/myplaylist.jpg')"> 
  <h3 style = "margin-bottom: 20px"><strong>Add Songs To Your Playist</strong></h3>
   <form  action="salle" method="POST">
  {% csrf_token %}
  <ul class="list-group" style="margin:0px">   
  <label for="password">Titre 1 :</label> 
      <li class="list-group-item">
          {{form.song1}}
        </li>
  </label>
  </ul>

  <ul class="list-group" style="margin:0px">    
  <label for="password">Titre 2 :</label>
      <li class="list-group-item">
          {{form.song2}}
        </li>
  </label>
  </ul>

  <ul class="list-group" style="margin:0px">    
  <label for="password">Titre 3 :</label>
      <li class="list-group-item">
          {{form.song3}}
        </li>
  </label>
   </ul>


  <ul class="list-group" style="margin:0px">    
  <label for="password">Titre 4 :</label>
      <li class="list-group-item">
          {{form.song4}}
        </li>
  </label>
  </ul>


  <ul class="list-group" style="margin:0px">    
  <label for="password">Titre 5 :</label>
      <li class="list-group-item">
          {{form.song5}}
        </li>
  </label>
  </ul>

  <input type="submit" value = "Submit" class = 'btn btn-primary'>
</form>
</body>
{% endblock %}
